*{
	margin: 0;
	padding: 0;
}
.wraper{
	width: 1170px;
	margin: auto;
}
header{
	background: linear-gradient (rgba (0,0,0,0.6), rgba (0,0,0,0.6)), url(silk.jpg);
	height: 100vh;
	-webkit-background-size:cover;
	background-size:cover;
	background-position: center center;
	position: relative;
}
.nav-area{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li{
	display: inline-block;
}
.nav-area li a{
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family:serif;
	font-size: 20px;
}
.nav-area li a:hover{
	background: #fff;
	color: #333;
}
.welcome-text{
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: poppins;
	font-size: 60px;
}
.welcome-text h4{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: poppins;
	font-size: 14px;
}
.logo img{
	width: 300px;
	float: left;
	height: auto;
	cursor: pointer;
}
@media(max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}
@media (max-width: 700px){
	header{
		flex-direction: column;
	}
	header h2{
		margin-bottom: 15px;
	}
	header nav li{
		margin: 0 7px;
	}
}
. . .
/* Include padding and border in total box size*/
* {
  box-sizing: border-box;
}
/* Create two equal columns that float next to each other */
.column-2 {
  float: left;
  width: 45%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  height: 475px;
  margin:30px;
  margin-right:30px;
  margin-bottom: 70px;
  background-color: #ffe4e1;
  line-height:2;
  color: #db7093;
  font-size: 19px;
  text-align: justify;
}
.large-profile {
  width: 45%;
  padding: 40px;
  background: url('my photo.png');
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 250px;
  margin:30px;
  margin-right:30px;
  margin-bottom: 70px;
  line-height:2;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  height: 475px;
}